.wrapper {
    width: 350px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.group1, .group2, .group3 {
    width: 100%;
}

/* group1 */
.group1-1, .group1-2 {
    float: left;
    height: 100px;
}
.group1-1 {
    width: 150px;
    background-color: #FFFF66;
}
.group1-2 {
    width: 200px;
    background-color: #666666;
}

/* group2 */
.group2-1, .group2-2, .group2-3 {
    float: left;
    height: 150px;
}
.group2-2, .group2-3 {
    width: 100px;
}
.group2-1 {
    width: 150px;
    background-color: #FF3333;
}
.group2-2 {
    background-color: #3366FF;
}
.group2-3 {
    background-color: #669933;
}

/* group3 */
.group3-1, .group3-2, .group3-3 {
    float: left;
    height: 100px;
}
.group3-2, .group3-3 {
    width: 100px;
}
.group3-1 {
    width: 150px;
    background-color: #FF9966;
}
.group3-2 {
    background-color: #FFFFCC;
}
.group3-3 {
    background-color: #330066;
}