/* 
    変更点
    ・header,left,right,fotterの順に縦一列を形成
    ・header-wrapを縦に配置
    
    実装すること
    ・left,rightのfloatを解除
    ・header,left,right,footerの幅を200px
    ・contentsの高さをleftとrightの合計
    （leftとrightの合計をcontentsの高さにする？）
*/

@media screen and (max-width: 479px) {
    /* wrapper */
    .wrapper {
        width: 200px;
    }

    /* header */
    .header {
        height: 200px;
    }
    .header-wrap {
        left: 70px;
        width: 60px;
        height: 160px;
    }
    .header-inner2 {
        top: 60px;
        /* 初期値に戻す */
        left: initial;
    }
    .header-inner3 {
        top: 110px;
        left: initial;
    }

    /* contents */
    .contents {
        height: 460px;
    }
    .left {
        float: none;
        width: 200px;
    }
    .right {
        float: none;
        width: 200px;
        height: 210px;
    }
    .right-wrap {
        top: 20px;
        left: 30px;
    }
}