/* 
    使用プロパティ
    position
    top,bottom,left,right
    border
    padding
    box-sizing
    擬似クラス
    :first-child
*/

/* 初期設定 */
* {
    margin: 0;
    padding: 0;
}
.clearfix::after {
    content: " ";
    display: block;
    clear: both;
}

/* wrapper */
.wrapper {
    width: 400px;
    margin: 0 auto;
}  
/* :first-child */
.wrap:first-child {
    position: absolute;
}

/* header */
.header {
    position: relative;
    height: 100px;
    background-color: black;
}
.header-wrap {
    box-sizing: border-box;
    top: 20px;
    bottom: 20px;
    left: 220px;
    width: 160px;
    height: 60px;
    padding: 10px;
    background-color: white;
}
.header-inner1,.header-inner2,.header-inner3 {
    position: absolute;
    top: 10px;
    width: 40px;
    height: 40px;
    background-color: red;
}
.header-inner2 {
    left: 60px;
}
.header-inner3 {
    left: 110px;
}

/* contents */
.contents {
    height: 250px;
}
.left {
    float: left;
    width: 150px;
    height: 250px;
    background-color: cadetblue;
}
.right {
    position: relative;
    float: right;
    width: 250px;
    height: 250px;
    background-color: brown;
}
.right-wrap {
    top: 40px;
    left: 40px;
    right: 60px;
    width: 150px;
    height: 170px;
}
.right-inner1,.right-inner2,.right-inner3 {
    position: absolute;
    width: 150px;
    height: 50px;
    box-sizing: border-box;
    border: solid 5px white;
    border-color: white;
    background-color: orange;
}
.right-inner2 {
    top: 60px;
}
.right-inner3 {
    top: 120px;
}

/* footer */
.footer {
    height: 100px;
    background-color: burlywood;
}